
#friendContainer {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendName {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
