
.friendDisplay {
    color: white;
    
}

.friendName {
    display: flex;
    margin-bottom: 20px;
}

#userId {
    width: 50px;
}

.userId{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: -50px;

}

#info {
    width: 100px;
}