div {
    border: 1px solid black
}

header {
    display: flex;
    justify-content: center;
    height: 30%vh;
    width: 100%vw;
}

#window {
    height: 50px;
    width: 200px;
    margin: auto;
}

#tapeBottom {
    height: 50px;
    width: 100px;
    margin: auto;
}

main {
    height: 60%vh;
    width: 100%vw;
    border: 1px solid black;
}

#playlistContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 100%vw;
    border: 1px solid black;
}

#createPlaylistDiv {
    display: flex;
    justify-content: center;
}