body {
    
    background-color: black;
}

p, a, .text {
    color: white;
    font-family: 'DotGothic16', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;
}

main {
    height: 60vh;
    width: 100vw;
}

#playlistContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100vw;
    padding-top: 10px;

}

#createPlaylistDiv {
    display: flex;
    justify-content: center;
}

.button {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    box-shadow: 0 0 5px #ef97e8;
    color: #fff;
}

.roundButton {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
}

.button:hover {
    box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
    
}