p{
color: black;
font-family: 'Courier New', Courier, monospace;

}

.songProps{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    overflow: auto;
}
.songImage{
    border-radius: 35%;
    margin-bottom: 10px;
}

.deleteButton{
    margin-top: 10px;
    margin-bottom: 10px;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:125px;
    min-height: 45px;
    font-family: calibri;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

/* btn-primary  */
.deleteButton {
    background-color: #dc3545;
    color: #fff;
}

.deleteButton:hover {
    background-color: #bb2d3b;
}

.deleteButton:active {
    box-shadow: 0 0 0 0.25rem rgba(49,132,253,.5);
}

span {
    font-size: 15px;
    padding: 0 10px;
    position: absolute;
    left:0.5em;
     transition: all 500ms ease;
}

[name="remove-outline"] {
    position: absolute;
    transform: rotate(90deg);
    font-size: 1em;
    left: 1.7em;
    right: 40px;
    color: #941e2a;
     transition: all 500ms ease;
}

[name="close"] {
    position:absolute;
    transform: rotate(90deg);
    font-size: 1em;
    top: 15px;
    right: 8px;
    color: #fff;
    transition: all 500ms ease;
}

.deleteButton:hover [name="close"] {
    transform: translateX(-45px);
}

.deleteButton:hover [name="remove-outline"],  
.deleteButton:hover span{
    transform: translateX(-6000px);
}