
.songProps{
    display: flex;
    flex-direction: row;
    margin: 5px 10px 5px 10px;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
    border-radius: 7px;
    border: 2px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #543BA3,
              0 0 2rem #174DB1,
              0 0 0.8rem #174DB1,
              /* 0 0 2.8rem #bc13fe, */
              inset 0 0 1.3rem #174DB1;
}

#albumCover {
    padding-left: 30px;
}

.container {
    height: 110px;
    width: 300px;
    overflow: auto;
}

.songImage{
    height: 100px;
    /* width: 10vw; */
    border-radius: 35%;
    margin-bottom: 10px;
}

#songInfo {
    height: 100px;
    width: 300px;
}

/* .deleteButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
} */

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    /* min-width:125px;
    min-height: 45px; */
    /* font-family: calibri; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* font-weight: 400; */
    /* text-decoration: none; */
    /* position: relative; */
    /* background-color: #dc3545; */
    color: #fff;
}

.deleteButton:hover {
    background-color: #bb2d3b;
}

.deleteButton:active {
    box-shadow: 0 0 0 0.25rem rgba(49,132,253,.5);
}

span {
    font-size: 15px;
    padding: 0 10px;
    position: absolute;
    left:0.5em;
     transition: all 500ms ease;
}

[name="remove-outline"] {
    position: absolute;
    transform: rotate(90deg);
    font-size: 1em;
    left: 1.7em;
    right: 40px;
    color: #941e2a;
     transition: all 500ms ease;
}

[name="close"] {
    position:absolute;
    transform: rotate(90deg);
    font-size: 1em;
    top: 15px;
    right: 8px;
    color: #fff;
    transition: all 500ms ease;
}

.deleteButton:hover [name="close"] {
    transform: translateX(-45px);
}

.deleteButton:hover [name="remove-outline"],  
.deleteButton:hover span{
    transform: translateX(-6000px);
}