.title{
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-top: 15px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: bold;
  color: black;
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: calibri;
        border-radius: 3px;
        border: 2px solid black;
        padding: 1rem 2rem;
        box-shadow: .9px 1px 0 0 black, 1.5px 2px 0 0 black, 2.5px 3px 0 0 black, 3.5px 4px 0 0 black, 4.5px 5px 0 0 black, 5.5px 6px 0 0 black, 6.5px 7px 0 0 black, 7.5px 8px 0 0 black, 8.5px 9px 0 0 black, 9.5px 10px 0 0 black;
        position: relative;
        inset: 0;
        transform: rotateX(0), rotateY(0) rotateZ(0);
        display: flex;
        justify-content: center;
        outline: 2px dashed transparent;
        transition: all 600ms ease;
}

.title:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
}


.songsDisplay{
  /* background-image: url(/src/Pages/Songs/images/fssfsfs.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  /* background-color: rgb(42, 41, 41); */
}

.header{
  background-image: url(/src/Pages/Songs/images/fssfsfs.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.editPlaylistButton{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.editPlaylistButton:hover{
  color: rgb(103, 189, 160);
  cursor: pointer;
}





  