.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.songsDisplay{
  width: 98vw;
}

#buttonRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.editPlaylistButton{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.editPlaylistButton:hover{
  color: rgb(103, 189, 160);
  cursor: pointer;
}
.backButton{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-right: 20px;
}





  