
.displayRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 95vw;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 2px solid #b058c6;
    box-shadow: 0 0 .2rem #b058c6,
              0 0 .2rem #95bae7,
              0 0 1rem #95bae7,
              /* 0 0 0.8rem #95bae7, */
              /* 0 0 2.8rem #bc13fe, */
              inset 0 0 1.3rem #95bae7;
}

#timeStamp {
    display: flex;
    justify-content: left;
    text-align: center;
    margin-left: 10px;
    padding-top: 12px;
}

#timeStampDiv {
    display: flex;
    width: 33vw;
    text-align: center;
    align-items: center;
}

#userNameButton {
    height: 30px;
    margin-left: 20px;
}

#playlistNameDiv {
    display: flex;
    width: 33vw;
    justify-content: center;
    text-align: center;
    border: 2px solid #95bae7;
    border-radius: 7px;
    padding-top: 10px;
    background-color: black;
    height: 40px;
    position: relative;
    top: 5px
}

#likeCountDiv {
    display: flex;
    height: 40px;
    align-items: center ;
    text-align: center;
    padding-top: 12px;
    padding-right: 10px;
}

#deleteButtonDiv {
    display: flex;
    width: 33vw;
    justify-content: right;
    align-items: center;
}

#followButtonDiv {
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
}

#likePlaylistButton {
    font-size: 10px;
}

#deletePlaylistButton, #likePlaylistButton, #userNameButton {
    margin-right: 10px;
}