
.displayRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 95vw;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 2px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #543BA3,
              0 0 2rem #174DB1,
              0 0 0.8rem #174DB1,
              /* 0 0 2.8rem #bc13fe, */
              inset 0 0 1.3rem #174DB1;
}

#timeStampDiv {
    display: flex;
    width: 33vw;
    justify-content: left;
    text-align: center;
    margin-left: 10px;
    padding-top: 12px;
 
    
}

#playlistNameDiv {
    display: flex;
    width: 33vw;
    justify-content: center;
    border: 2px solid white;
    border-radius: 7px;
    padding-top: 10px;
    background-color: black;
    height: 60px;
    position: relative;
    top: 10px
}

#deleteButtonDiv {
    display: flex;
    width: 33vw;
    justify-content: right;
}

#deletePlaylistButton, #likePlaylistButton {
    margin-right: 10px;
}